// Reset
@import "less/reset";

// Core variables and mixins
@import "less/variables"; 
@import "less/mixins";
@import "less/layouts";

// Components
@import "less/buttons";
@import "less/grid";

.navbar-fixed-top {
	top: 0px;
	position: fixed;
	right: 0px;
	left: 0px;
	z-index: 1030px;
}

.navbar {
	width: 100%;
	background-color: red;
	min-height: 30px;
}

section #content {
	margin-top: 50px;
}

body {
  font: 12px Helvetica;
}

